#headerwrap {
    background: url('../Images/site-1.jpg') no-repeat center top;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    font-size: 3.5em;
    width: auto;
    background-size: cover;
    font-family: Arial;
    color: #ffffff;
    text-wrap: normal;
    text-shadow: 1px 2px 2px black, 10px 10px 2em green;
}
#bodywrap {
    margin: 15px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 1.2em;
    display: flex;
    
}
.block {
    float: left;
    margin: 10px;
    min-height: 100px;
    max-height: 200px;
    padding: 50px 10px 50px 10px;
    background-color: rgba(222, 220, 220, 0.15);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
}