@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script>
    document.getElementById("home-nav").classList.add('active');
</script>
<p>Use this area to provide additional information.</p>
