@model IEnumerable<DistributedToDo.Web.Models.TaskModel>
@{
    ViewBag.Title = Resources.Resource.Tasks;
}
<script>
    document.getElementById("tasks-nav").classList.add('active');
</script>
<div id="map"></div>
<br />
@Html.ActionLink(Resources.Resource.CreateTask, "Create", null, new { @class = "btn btn-success col-xs-12" })
<hr />
<div id="tasklist">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_Task", item);
    }
</div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUfLVNhJKzJWBFEzqpkgIYwmdkIlRbsh4&callback=initMap"
                async defer>
        </script>
        <script>
     var array = @Html.Raw(Json.Encode(@ViewBag.taskMarkers));
        </script>
        @Scripts.Render("~/Scripts/map.js")